name: Update and Build

on:
  schedule:
    - cron: '0 0 1,15 * *'  # 每月1日/15日触发
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  update_rules:
    name: Update rules
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          path: code

      - name: Download cdn.txt
        working-directory: code
        run: curl -o cdn https://ruleset.skk.moe/Clash/domainset/cdn.txt

      - name: Download list gfw
        working-directory: code
        run: curl -o gfw https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/gfw.list

      - name: Download list anti-ad
        working-directory: code
        run: curl -o anti-ad https://raw.githubusercontent.com/privacy-protection-tools/anti-AD/master/anti-ad-domains.txt

      - name: Download list skk reject base
        working-directory: code
        run: curl -o skk-reject https://ruleset.skk.moe/Clash/domainset/reject.txt

      - name: Download list from 1-stream/1stream-public-utils
        working-directory: code
        run: curl -o dns-1stream https://raw.githubusercontent.com/1-stream/1stream-public-utils/refs/heads/main/stream.text.list

      - name: Remove "+." characters
        working-directory: code
        run: |
          # sed -i 's/\+\.//g' cdn
          # sed -i '/^[+.#]/!{/^$/! s/^/full:/}; s/\+\.//g' cdn

          # 删除 cdn和skk-reject 里所有包含 '_' 的行（严格域名模式下都不合法）
          sed -i '/_/d' data/cdn
          sed -i '/_/d' data/skk-reject

          sed -i '/^\+\./{s/^\+\.\(.*\)/\1/;b};/^#/b;/^$/b;s/^/full:/' cdn
          sed -i 's/+\.//g' gfw
          # sed -i 's/\+\.//g' skk-reject
          sed -i '/^[+.#]/!{/^$/! s/^/full:/}; s/\+\.//g' skk-reject

      - name: Media area from 1-stream
        working-directory: code
        run: |
          sed -n '/# ---------- > Japan Media/,/# ---------- >/p' dns-1stream | sed '$d' > dns-1stream-jp
          sed -n '/# ---------- > Taiwan Media/,/# ---------- >/p' dns-1stream | sed '$d' > dns-1stream-tw

      - name: Create data directory if it doesn't exist
        working-directory: code
        run: mkdir -p data

      - name: Move file to data directory
        working-directory: code
        run: |
          mv cdn data/
          mv gfw data/
          mv anti-ad data/
          mv skk-reject data/
          mv dns-1stream data/
          mv dns-1stream-jp data/
          mv dns-1stream-tw data/
          
          # 删除 cdn和skk-reject 里所有包含 '_' 的行（严格域名模式下都不合法）
          sed -i '/_/d' data/cdn
          sed -i '/_/d' data/skk-reject

      - name: Commit changes
        working-directory: code
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add data/cdn
          git add data/gfw
          git add data/anti-ad
          git add data/skk-reject
          git add data/dns-1stream
          git add data/dns-1stream-jp
          git add data/dns-1stream-tw
          git commit -m 'Update cdn and removing "+." characters'
          git push origin master

  build:
    name: Build geosite.dat
    runs-on: ubuntu-latest
    needs: update_rules
    if: ${{ always() }}
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v6
        with:
          path: code

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: code/go.mod
          cache-dependency-path: code/go.sum

      - name: Set variables
        run: |
          echo "RELEASE_NAME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
          echo "TAG_NAME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
        shell: bash
        
      - name: Build geosite.dat file
        run: |
          cd code || exit 1
          go run ./ --outputdir=../ --exportlists=category-ads-all,tld-cn,cn,tld-\!cn,geolocation-\!cn,apple,icloud
          cd ../ && rm -rf code

      - name: Generate geosite.dat sha256 hash
        run: |
          sha256sum geosite.dat > geosite.dat.sha256sum

      - name: Generate Zip
        run: |
          zip -9 geosite.dat.zip geosite.dat
          sha256sum geosite.dat.zip > geosite.dat.zip.sha256sum

      - name: Generate XZ
        run: |
          xz -z -9 -k geosite.dat
          sha256sum geosite.dat.xz > geosite.dat.xz.sha256sum

      - name: Git push assets to "release" branch
        run: |
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add *.txt *.sha256sum geosite.dat geosite.dat.zip geosite.dat.xz
          git commit -m "${{ env.RELEASE_NAME }}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f -u origin release

      - name: Release and upload assets
        run: |
          gh release create ${{ env.TAG_NAME }} --generate-notes --latest --title ${{ env.RELEASE_NAME }} ./geosite.dat ./geosite.dat.*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
